<!DOCTYPE html>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cover Template · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    {{encore_entry_link_tags('app') }}

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.scss" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Dealabs</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('affichage_promo') }}">Promo code</a>
        </li>
          <a class="nav-link" href="{{ path('article_new') }}">Create a good plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('promo_new') }}">Create promo code</a>
        </li>
        <a class="nav-link" href="#"></a>
          {% if app.user %}
   <a href="{{ path('app_logout') }}" class="btn btn-danger" style="margin: 0;">Logout</a>
  {% else %}
   <a href="{{ path('app_login') }}" class="btn btn-primary" style="margin: 0;">Login</a>
  {% endif %}
    {% if not app.user %}<a href="{{ path('app_register') }}" class="btn btn-primary" style="margin: 0;">Register</a>{% endif %}
      </nav>
    </div>
  </header>



  <footer class="mastfoot mt-auto">
  </footer>
</div>

{{encore_entry_script_tags('app') }}
</body>
</html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur dealabs!{% endblock %}</title>
        {% block stylesheets %}{{encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{{encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>